@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

:root {
    --grey: #333333;
    --white: #ffffff;
    --yellow: #fffc2e;
    --deepyellow: #ffec00;
    --pastelyellow: #fff78e;

}
body{
    margin: 0rem;
    color: #000000;
    height: 100%;
}
html{
    height: 100%;
}
/*HEADER================================================ */
header {
    background-image: linear-gradient(var(--yellow), var(--pastelyellow));
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 4rem;
}

header .wrapper {
    display: flex;
    justify-content: space-between;
}
header a {
    font-size: 1.5rem;
    color: #000000;
}
.btn-menu {
    position: absolute;
    top: 0rem;
    right: 0rem;
    height: 4rem;
    width: 4rem;
    border: 0;
    background-color: var(--white);
    font-size: 1rem;
    text-align: center;
}
.main-nav {
    background: var(--white);
    width: 0;
    position: absolute;
    top: 4rem;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    overflow: hidden;
    transition: .5s;
    font-family: 'Noto Sans JP', sans-serif;
    }
.main-nav a {
    display: block;
}
.main-nav.open-menu {
    width: 240px;
    right: 0;
    padding: 0;
}

#top{
    padding-top: 5rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
.btn {
display: flex;
    box-sizing: border-box;
    background-color: var(--pastelyellow);
    color: #000000;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;
    font-size: 1rem;
}
.btn a{
    font-size: 1rem;
    text-decoration: none;
}
#btnA, #btnB {
width: 100px;
height: 50px;
}
h1 {
font-weight:600;
font-size: 3em;
color: black;
padding: 0.5rem;
margin: 0;
padding-bottom: 2rem;
}
h2 {
font-weight:600;
padding: 0.5rem;
font-size: 2em;
color: black;
margin: 0;
}
h3 {
font-weight:500;
font-size: 1.8em;
margin: 0;
padding-top: 0.5rem;
padding-bottom: 1.5rem;
}
#left {
list-style-position: inside;
text-align: left;
float: center;
height: 80vh;
box-sizing: border-box;
background: #ffccff;
}
#main {
float: left;
text-align: center;
width: 30%;
height: 80vh;
box-sizing: border-box;
background: #ffffff;
padding: 1rem;
}
#right {
list-style-position: inside;
text-align: left;
float: center;
height: 80vh;
box-sizing: border-box;
background: #ffffff;
}
#left2 {
list-style-position: inside;
text-align: center;
float: left;
width: 6%;
height: 90vh;
box-sizing: border-box;
background: #ffccff;
border: 2px solid #000000;
}
#right2 {
list-style-position: inside;
text-align: center;
float: left;
width: 6%;
height: 90vh;
box-sizing: border-box;
background: #ffffff;
border: 2px solid #000000;
}
.space {
    list-style-position: inside;
    text-align: center;
    float: left;
    width: 2.5%;
    height: 90vh;
    box-sizing: border-box;
}

#left3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-position: inside;
    text-align: center;
    width: 40%;
    box-sizing: border-box;
    background: #ffccff;
    border: 2px solid #000000;
    }
#right3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style-position: inside;
    text-align: center;
    width: 40%;
    box-sizing: border-box;
    background: #ffffff;
    border: 2px solid #000000;
    }
.team {
        font-weight:700;
        font-size: 2em;
        color: black;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-align: left;
        display: inline-block;
        min-height: 30vh;
        max-height: 60vh;
        }
        
body {
font-family: 'Noto Sans JP', sans-serif;
background-color: white;
}
.kunakami {
font-weight:700;
font-size: 2.8em;
color: black;
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
text-align: left;
display: inline-block;
}
.hikou {
writing-mode: horizontal-tb;
}
.tcy {
    text-combine-upright: all;
}
